@import "variables";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: $red-hat;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: $pale-blue;
  background-image: url("../images/pattern-background-mobile.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $desaturated-blue;
}

main {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  padding: 24px;
  place-content: center;

  article {
    background: white;
    border-radius: $border-radius;
    -webkit-box-shadow: 0px 45px 30px -25px hsla(245, 75%, 52%, 0.15);
    box-shadow: 0px 45px 30px -25px hsla(245, 75%, 52%, 0.15);
    max-width: 450px;
    overflow: hidden;

    .card__img {
      height: auto;
      width: 100%;
    }

    .card__info {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px 24px 16px;
      -webkit-transition: padding 0.3s ease-in-out;
      -o-transition: padding 0.3s ease-in-out;
      transition: padding 0.3s ease-in-out;

      h1 {
        font-size: 1.375rem;
        font-weight: 900;
        color: $dark-blue;
        margin: 0;
        margin-bottom: 18px;
      }

      & > p {
        font-size: 0.938rem;
        line-height: 1.65;
        text-align: center;
        margin-bottom: 24px;
        padding: 0 10px;
      }

      .card__pricing {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: $very-pale-blue;
        border-radius: $small-border-radius;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 22px;
        padding: 18px 15px;
        width: 100%;

        .price {
          font-size: 0.875rem;

          h2 {
            font-size: inherit;
            font-weight: 900;
            color: $dark-blue;
            padding-bottom: 6px;
          }

          p {
            font-weight: 700;
          }
        }

        a {
          color: $bright-blue;
          font-size: 0.813rem;
          font-weight: 700;
          line-height: 35px;
          margin-left: auto;
          padding: 2px 2px 0 0;

          &:hover {
            opacity: 0.6;
            text-decoration: none;
          }

          &:visited {
            color: $bright-blue;
          }
        }
      }

      button {
        border: none;
        border-radius: $small-border-radius;
        cursor: pointer;
        display: inline-block;
        font-size: 0.938rem;
        font-weight: 900;
        padding: 16.5px 32px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        width: 100%;

        &.payment {
          background-color: $bright-blue;
          color: white;
          margin-bottom: 9px;
          -webkit-box-shadow: 0px 15px 25px 0px hsla(245, 75%, 52%, 0.26);
          box-shadow: 0px 15px 25px 0px hsla(245, 75%, 52%, 0.26);
          &:hover {
            opacity: 0.6;
          }
        }
        &.cancel-order {
          background-color: transparent;
          color: $desaturated-blue;
          &:hover {
            color: $dark-blue;
          }
        }
      }
    }
  }
}

@import "media";
